@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>Emil Bashirov</h4>

<h1>Contact form</h1>>
<address>
    <strong>Email:</strong> <a href="mailto:bsirovemil@gmail.com">bsirovemil@gmail.com</a><br />
    <strong>Phone Number:</strong> <a href="tel:+994 55 417 58 51">+994 55 417 58 51</a>
</address>